/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(35, 34, 34);
    color: chartreuse;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator */
.calculator {
    display: flex;
    flex-direction: column;
    height: 80vh; /* Use 80% of the viewport height */
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Responsive Width */
@media (max-width: 1024px) {
    .calculator {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .calculator {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .calculator {
        width: 95%;
    }
}

/* Display Screen */
#calcDisplay {
    background-color: #7c6d6d;
    width: 100%;
    height: 15%;
    font-size: 3vw;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Scale display for small screens */
@media (max-width: 768px) {
    #calcDisplay {
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    #calcDisplay {
        font-size: 6vw;
    }
}

/* Button Container */
.calcButtons {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1; /* Make it take the full remaining space */
    gap: 4px;
    justify-content: space-between;
}

/* Buttons */
.calcButtons button {
    flex: 1 0 21%;
    height: 20%;
    font-size: 2vw;
    border: 1px solid #320404;
    border-radius: 10px;
    background-color: #22129c;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* Scale buttons for smaller screens */
@media (max-width: 768px) {
    .calcButtons button {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    .calcButtons button {
        font-size: 4vw;
    }
}

/* Make last column buttons distinct */
.calcButtons button:nth-child(4n) {
    background-color: darkslategray;
}

.calcButtons button:hover {
    background-color: #e0e0e0;
}

/* Backspace Button */
.backspace {
    background-color: #131311;
    background-size: 70% 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
