body{
    background-color: rgb(35, 34, 34);
    color:chartreuse
}
#count{
    display:block;
    text-align: center;
    font-size: 10em;
}
.countbtn{
    color:beige;
    padding:10px 20px;
    font-size: 1.5em;
    background-color: hsl(214,100%,74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .25s;
}
.countbtn:hover{
    background-color: rgb(185, 26, 113);
}
.countSection{
    text-align: center;
}
#diceImages{
    display: inline-block;
    background-color: darkgray;
}
#numDice {
    width: 50px; 
  }